{% extends 'event/base_home.html' %}
{% load static %}


{% block title %}
{% endblock title %}
{% block content %}
    <div class="Abhisaran">
        <div class="abhisaran-logo">
            <img src = "{% static 'img/logo.png'%}">
        </div>
        <div class="abhisaran-text" style="font-family: 'Samarkan', sans-serif;">
            Abhisaran
        </div>
        <div class="cultural-text">
            <span style="font-family:'Pristina';">The Cultural Convergence</span>
        </div>
        
    </div>
{% endblock content %}
    